<div id="copyright" class="container">
    <ul class="links">
        <li>© Untitled. All rights reserved</li>
        <li>Demo images: <a href="http://regularjane.deviantart.com/">regularjane</a></li>
        <li>Design: <a href="http://html5up.net/">HTML5 UP</a></li>
    </ul>
</div>
