<div id="jquery-overlay">
</div>
<div id="jquery-lightbox">
    <div id="lightbox-container-image-box">
        <div id="lightbox-container-image">
            <img src="@Href("../../Content/images/lightbox-blank.gif")" id="lightbox-image" alt="@T("Photo")">
            <div id="lightbox-nav">
                <a href="#" id="lightbox-nav-btnPrev"></a>
                <a href="#" id="lightbox-nav-btnNext"></a>
            </div>
            <div id="lightbox-loading">
                <a href="#" id="lightbox-loading-link">
                    <img src="@Href("../../Content/images/lightbox-ico-loading.gif")" alt="@T("Loading")" />
                </a>
            </div>
        </div>
    </div>
    <div id="lightbox-container-image-data-box">
        <div id="lightbox-container-image-data">
            <div id="lightbox-image-details">
                <h3 id="lightbox-image-details-caption"></h3>
                <span id="lightbox-image-details-currentNumber">
                </span>
            </div>
            <div id="lightbox-secNav">
                <a href="#" id="lightbox-secNav-btnClose">
                </a>
            </div>
        </div>
    </div>
</div>
