.thumb-column{
    width: 100px;
    float: left;
    text-align: center;
}

.thumb-column img{    
    max-width: 60px;
    max-height: 60px;
}

.upload-progress-cell{
    background: url('../Content/images/lightbox-ico-loading.gif') center center no-repeat;
}

.upload-image{
     text-align: center;
}

.upload-name{
    vertical-align: middle;  
}

.upload-error{
    background-color: red;
    color: white;
    opacity: 0.5;
}

.remove-album-panel,
.remove-photo-panel{
    border: 1px solid #EAEAEA;
    position: absolute;
    background: white;
    display: none;
}
.remove-album-panel a,
.remove-photo-panel a{
    margin: 0.5em;
    display: block;
    white-space: nowrap;
}